/TestJavaBeans/nbproject/private/
/TestJavaBeans/build/
/TestJavaBeans/dist/
/eBookShop/nbproject/private/
/eBookShop/build/
/CustomerDB/nbproject/private/
/CustomerDB/build/
/CustomerDB/dist/
/eBookShopJPA/nbproject/private/
/eBookShopJPA/build/
/WebJpa/nbproject/private/
/eBookShopJPA/dist/
/SQLiteInit/nbproject/private/
/SQLiteInit/build/
/PersonDog/nbproject/private/
/PersonDog/build/
/PersonDog/dist/
/JsfJpaCrud/nbproject/private/
/JsfJpaCrud/build/
/WebAppJPA/nbproject/private/
/WebAppJPA/build/
/exampleJPA/nbproject/private/
/exampleJPA/build/
/PersonDogJPA/nbproject/private/
/PersonDogJPA/build/
/PersonDogJPA/dist/
/PersonDogJPA1/nbproject/private/
/PersonDogJPA1/build/
/PersonDogJPA1/dist/
/jpwh-2e-examples-20151103/shared/target/
/jpwh-2e-examples-20151103/environment/target/
/jpwh-2e-examples-20151103/model/target/
/jpwh-2e-examples-20151103/examples/target/
/PortalBootStrap/nbproject/private/
/PortalBootStrap/build/
/JolokiaTest/target/